* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.big-screen {
  max-width: 1500px;
  margin: auto;
  padding: 30px 50px;
}
.big-screen2 {
  max-width: 1500px;
  margin: auto;
  padding: 30px 50px;
}
.box-wrapper {
  margin-top: 40px;
}
.box-wrapper__div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 20px;
}

.visa-img {
  width: 65px;
  object-fit: contain;
  margin-right: 15px;
}

/* scrollbar */
* {
  scrollbar-width: thick;
  scrollbar-color: #000 transparent;
}
/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #000;
}

*::-webkit-scrollbar-thumb:hover {
  background: #000;
}
/* scrollbar */

@media (max-width: 960px) {
  .box-wrapper__div {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 560px) {
  .big-screen {
    padding: 20px;
  }
  .big-screen2 {
    padding: 10px;
  }
  .visa-img {
    width: 50px;
    object-fit: contain;
    margin-right: 10px;
  }
}
